.App {
  .ta-center {
    text-align: center;
  }
  .main-title {
    padding: 2rem;
  }
  .roboto {
    font-family: 'Roboto';
  }
  .fontweight-500 {
    font-weight: 500;
  }
  .width-300 {
    width: 300px;
  }
  .margin-auto {
    margin: auto;
  }
}